body {
	background:#2E363F;
}

#header {
	background-color: #1f262d;
   margin-top:10px;
}
#search input[type=text], #search button {
	background-color: #28b779;
}
#search input[type=text]:focus {
	color: #777777;
}
#sidebar > ul{border-bottom: 1px solid #37414b}
#sidebar > ul > li {
	border-top: 1px solid #37414b; border-bottom: 1px solid #1f262d;
}
#sidebar > ul > li.active {
    background-color: #27a9e3; border-bottom: 1px solid #27a9e3;  border-top: 1px solid #27a9e3;
}
#sidebar > ul > li.active a{ color:#fff; text-decoration:none;}

#sidebar > ul > li > a > .label {
	background-color:#F66;
}
#sidebar > ul > li > a:hover {
	background-color: #27a9e3; color:#fff;
}
#sidebar > ul li ul {
	background-color: #1e242b;
}
#sidebar > ul li ul li a{ color:#939da8}
#sidebar > ul li ul li a:hover, #sidebar > ul li ul li.active a {
	color: #fff;
	background-color: #28b779;
}


#search input[type=text] {
	background-color: #47515b; color: #fff; 
}
#search input[type=text]:focus {
	color: #2e363f; color: #fff; box-shadow:none;
}
.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
	background:#666;
   
}
.top_message{ float:right; padding:20px 12px; position:relative; top:-13px; border-left:1px solid #3D3A37; font-size:14px; line-height:20px; *line-height:20px; color:#333; text-align:center;  vertical-align:middle; cursor:pointer; }
.top_messa